
body{
   
}
.playground1{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #f1f1f1;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
}
.playground2{
    width: 200px;
    height: auto;
    top: 30%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.h1_carga {
    position: absolute;
    top: 270px;
    left: 40%;
    text-align: center;
    width: 350px;
    height: 60px;
    margin: 0 auto 90px;
    overflow: hidden;
    display: block;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    background: #666;
    border-radius: 5px;
    padding: 35px 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border: 1px solid #777;
    font-size: 1.3em;
}
.enlace_powered{
    color: #e6e6e6;
    text-shadow: none;
    text-decoration: none;
    text-align: center;
    font-size: 0.5em;
}

.la-anim-10 {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: firebrick;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}

.la-anim-10.la-animate {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.la-anim-10::before,
.la-anim-10::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.la-anim-10::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: #555;
    border-left-color: #666;
    -webkit-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite;
}

.la-anim-10::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: #999;
    border-bottom-color: #888;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
    0% 		{ -webkit-transform: rotate(0deg); }
50% 	{ -webkit-transform: rotate(180deg); }
100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
    0% 		{ transform: rotate(0deg); }
50% 	{ transform: rotate(180deg); }
100% 	{ transform: rotate(360deg); }
}
