.general{

}
.containerAll{

}

.containerUp{
}
.containerDos{
    /*border: 1px solid #ccc;*/
}
.containerTres{
    /*border: 1px solid #ccc;*/
}
.containerTres div{

}
.containerFooter{
}
.titleOne{
    color: rgb(14, 83, 146);
}
.titleTwo{
    color: rgb(255, 85, 5);
}
.titleTrhee{
    color: rgb(14, 146, 40);
}