body,html{
    overflow: auto;
}
#calendar_nw,#proyects,#main_main{
    display: none;
}
#walk{
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    /*max-width: 960px;*/
    /*overflow: hidden;*/
}
.box_walk_all:hover .eliminar_cerrar{
    display: block;
}
.photo_post{
    position: relative;
    height: 50px;
    float: left;
    margin-right: 10px;   
}
.photo_post_mini{
    height: 30px;
}
.box_walk_all{
    position: relative;
}
.title_comments_h2{
    background: #E6E6E6;
    padding: 5px;
    margin: 0;
    font-size: 10px;
}
.buttonComentBox{
    color: #fff;
    background-image: -webkit-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
    border: 1px solid rgba(45, 102, 195, 1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.2);
    margin: 0px 5px;
    min-height: 23px;
    min-width: 65px;
    padding: 7px 13px!important;
    font-size: 10px;
}
.box_users_group{
    position: relative;
    float: left;
}
.box_users_group p{

}
.box_users_group img{
    width: 40px;
}
.eliminar_cerrar{
    display: none;
    position: absolute;
    right: 0px;
    margin: 5px;
    background: #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    color: #777;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.contenedor_others_right{
    position: relative;
    float: right;
    background: #FFF;
    padding: 1.5em;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    border-top: 1px solid #E6E6E6;
    margin-top: 10px;
    width: 25%;
    transition: all 0.5s ease 0s;
}
.contenedor_publications{
    position: relative;
    width: 70%;
    float: left;
}
.box_walk{
    background: #FFF;
    padding: 1.5em;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    border-top: 1px solid #E6E6E6;
    margin-top: 10px;
}
.box_publication{
    position: relative;
    float: left;
    width: 69%;
    overflow: hidden;
    background: #C5C5C5;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    border-top: 1px solid #E6E6E6;
    margin: 0px;
}
.commentButton{
    height: 50px;
    width: 10%;
    font-size: 12px;
    color: #555;
    margin: 5px 0;
    padding: 0;
}
.box_publication textarea{
    width: 70%;
    float: left;
}
.box_publication input{

}
.comments_bloq{
    position: relative;
    background: #EBEBEB;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    border-top: 1px solid #C9C9C9;
    overflow: hidden;
}
.box_comment_user{
    position: relative;
    background: #f5f8fa;
    padding: 9px 12px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    min-height: 32px;
    overflow: hidden;
}
.comment_input{
    border: 1px solid rgb(204, 204, 204);
    width: 70%;
    font-weight: normal;
    border-radius: 3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    color: #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    padding: 0px!important;
    margin: 5px 20px!important;
}
.comments_bloq textarea{
    margin: 0;
    padding: 0;
    width: 85%;
    height: 30px;
    float: left;
}
.comments_bloq input{
    margin: 0;
    padding: 0;
    height: 30px;
    float: left;
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {
    #walk{
        margin-top: 20px;
        width: 98%;
    }
    .box_publication{
        width: 100%;
    }   
    .contenedor_publications{
        width: 100%;
    }   
    .contenedor_others_right{
        display: none;
    }
    .comments_bloq input {
        margin: 5px!important;
        padding: 0!important;
    }
}