/* 
    Author     : alexf
*/
.containerChat, .message
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.containerChat{
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    bottom: -100%;
    height: 100%;
    max-height: calc(100% - 100px);
    max-width: 400px;
}
.containerChatVisible{
    bottom: 0px;
}
.encChat {
    position: relative;
    top: 0px;
    z-index: 1;
    background-color: #1f8ceb;
    box-sizing: border-box;
    width: 100%;
    min-height: 55px;
    height: auto;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,.5);
    -o-box-shadow: 0 0 18px rgba(0,0,0,.5);
    -moz-osx-box-shadow: 0 0 18px rgba(0,0,0,.5);
    -ms-box-shadow: 0 0 18px rgba(0,0,0,.5);
    box-shadow: 0 0 18px rgba(0,0,0,.5);
    display: flex;
    flex-wrap: wrap;
}
.iconsEnc {
    cursor: pointer;
    float: right;
    position: relative;
    margin: 5px 4px;
    font-size: 28px;
    height: 26px;
}
.closeChat {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}
.contentChat ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-osx-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 -6px 0 0 #fff, inset 0 6px 0 0 #fff;
    -moz-box-shadow: inset 0 -6px 0 0 #fff,inset 0 6px 0 0 #fff;
    -o-box-shadow: inset 0 -6px 0 0 #fff,inset 0 6px 0 0 #fff;
    -moz-osx-box-shadow: inset 0 -6px 0 0 #fff,inset 0 6px 0 0 #fff;
    -ms-box-shadow: inset 0 -6px 0 0 #fff,inset 0 6px 0 0 #fff;
    box-shadow: inset 0 -6px 0 0 #fff, inset 0 6px 0 0 #fff;
    background-color: rgba(209,209,209,.97);
}
.contentChat ::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}
.contentChat {
    /*box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;*/
    box-shadow: 0 0 10px 2px rgba(0,0,0,.16);
    border-radius: 10px;
    height: 100vh;
    /* max-height: 600px; */
    max-height: 100%;
    width: 100vw;
    /* max-width: 400px; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-color: #f9f9f9;
    overflow: hidden;
    /*    max-height: calc(100% - 15px);
        max-width: calc(100% - 15px);*/
    margin: auto;
    /*margin-top: 5px;*/ 
}
.contentChat .messages {
    flex-grow: 1;
    padding: 20px 30px;
    overflow: auto;
    position: relative;
}
.contentChat .message {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 5px 0px;
    opacity: 0;
    top: 30px;
    position: relative;
    transform-origin: right;
    transform: scale(0);
}
.contentChat .message--theirs{
    transform-origin: left;
}
.contentChat .message_appear{
    opacity: 1;
    top: 0px;
    transform: scale(1);
}
.contentChat .message--info {
    width: 100%;
    text-align: center;
}
.contentChat .message--info .message__see{
    display: none;
}
.contentChat .message--mine {
    align-items: flex-end;
}
.contentChat .message--theirs {
    align-items: flex-start;
}
.contentChat .message__name {
    padding: 10px 0;
    padding: 10px 0px 0px 0px;
    color: #919090;
    font-size: 12px;
    word-break: break-word;
    font-weight: bold;
    /*display: none;*/
}
.message__see{
    position: relative;
    color: #929292;
    font-size: 11px;
    font-size: 9px;
}
.message--mine .message__see { text-align: right; }
.contentChat .message__fecha {
    font-size: 10px;
    padding: 0px 0px 5px 0px;
    color: #919090;
    word-break: break-word;
}
.message--mine .message__name {
    text-align: right;
}
.contentChat .message__bubble {
    padding: 10px;
    border-radius: 3px;
    word-break: break-word;
}
.contentChat .message--theirs .message__bubble {
    /*background: #6363bf;*/
    /*color: white;*/
    background: #6363bf;
    color: white;
    background-color: #e6ecf0;
    color: #50565d;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    -o-border-radius: 5px 5px 5px 0;
    -moz-osx-border-radius: 5px 5px 5px 0;
    -ms-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
    /*    display: flex;
        align-items: center;*/
}
.g_translate{cursor: pointer;margin: 0px 5px 0px 0px;width: 15px;opacity: 0.5;}.g_translate:hover{opacity: 1;}
.contentChat .message--mine .message__bubble {
    /*background: rgba(156, 172, 172, 0.2);*/
    background-color: #1f8ceb;
    color: #fff;
    -webkit-border-radius: 5px 5px 0 5px;
    -moz-border-radius: 5px 5px 0 5px;
    -o-border-radius: 5px 5px 0 5px;
    -moz-osx-border-radius: 5px 5px 0 5px;
    -ms-border-radius: 5px 5px 0 5px;
    border-radius: 5px 5px 0 5px;
}
.contentChat .message--mine .message__bubble a{
    color: #fff;
}
.contentChat .message--theirs .message__bubble a{
    color: #1f8ceb;
}
.contentChat .footerChat {
    position: relative;
    line-height: 76px;
    border-top: 1px solid rgba(156, 172, 172, 0.2);
    border-bottom: 1px solid rgba(156, 172, 172, 0.2);
    display: flex;
    flex-shrink: 0;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 18px rgba(0,0,0,.1);
    -moz-osx-box-shadow: 0 0 18px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 18px rgba(0,0,0,.1);
    box-shadow: 0 0 18px rgba(0,0,0,.1);
    background-color: #ffffff;
}
.contentChat input {
    height: 76px;
    border: none;
    flex-grow: 1;
    padding: 0 30px;
    font-size: 16px;
    background-color: transparent;
}
.contentChat button {
    border: none;
    background: transparent;
    /*padding: 0 30px;*/
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}
.containerChat_maximice{
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.isWritten{
    position: absolute;
    color: #878686;
    margin: 0;
    padding: 0;
    display: block;
    bottom: 0;
    height: 0;
    top: -40px;
    pointer-events: none;
}
.isWritten img {
    height: 56px;
    position: relative;
}
.isWritten span {
    display: inline-block;
    top: -5px;
    position: relative;
    margin: 0 3px;
}
body .loadMoreMessages{
    margin: auto;
}
body .NoMoreMessages{
    margin: auto;
    text-align: center;
}
.speak_mic_cancel{
    position: relative;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 20px auto 0px auto;
    width: max-content;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #3ea9e9;
    color: #fff;
    cursor: pointer;
}
.imgSpeach{
    display: flex;
    align-items: center;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 0 7px;
    cursor: pointer;
    width: 30px;
}
.nameOtherEnc{
    cursor: auto;
    font-size: 11px;
    margin: 5px 0px;
    height: auto;
    top: 3px;
}
.imageSendChat{
    max-width: 150px;
}
.linkDownloadFileChat{

}
.footerChat .fileTransferInput{
    background-image: url(../img/attach_file.svg);
    background-repeat: no-repeat;
    background-position: center;
    /*width: 30px;*/
    width: 50px;
    font-size: 0;
    text-indent: 100px;
    padding: 0;
    border-left: 1px solid #efefef;
    flex-grow: unset;
}
.notifyChatButton{
    position: absolute;
    top: -1px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.notifyChatButtonShow{
    background-color: #ff6d00;
}
.statusTextOtherEnc{
    position: relative;
    width: 100%;
    font-size: 10px;
    margin: 0;
    overflow: hidden;
    height: 11px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 5px;
}
.statusTextOtherEnc span {
    display: block;
    width: 100%;
    position: absolute;
    background: #3c8ceb;
    word-break: break-all;
    word-spacing: -1px;
}
.statusOtherEnc{
    background-color: #cecece;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.statusOtherEnc_online{
    background-color: #17f517;
}
.linkMsgVideoAudioCall{
    padding: 6px;
    background-color: green;
    display: block;
    margin: 10px auto;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
}
@media screen and (max-width: 900px) {
    .imgSpeach{padding: 0 3px;}
    .contentChat input{
        /*padding: 0 30px;*/
        /*padding: 0 10px;*/
        padding: 0px 0px 0px 15px;
        height: 45px;
        font-size: 14px;
    }
    .footerChat button {
        padding: 0 3px;
        font-size: 10px;
        width: 45px;
    }
    .footerChat .material-icons{
        font-size: 21px;
        color: #919090
    }
    .contentChat{
        margin: 0;
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
    }
}