/* 
    Created on : 31/05/2023, 10:34:25 a. m.
    Author     : alexf
*/

:root {
    /*--alto_barra_iphone: 30px;*/
    --alto_barra_iphone: 55px;
    --top_barra_iphone: 45px;
    --top_barra_iphone_menos: -45px;
    --top_max_chat: 90px;
    --top_max_center: 95px;
}

/*@media screen and (orientation:portrait){*/
.ui-mobile .ui-page {
    min-height: 100%!important;
    max-height: 100%!important;
    height: 100%!important;
}
/*}*/
body {
    overscroll-behaviour: contain;
}
#foo .headerEnc_relative {

}
.encCustomerComp,
.ui-page .centrar_mapa
{
    position: absolute;
}
body .ui-page .my-header .btnMenuHeader,
.backInShowServices,
body .ui-page .logotipoHeader_home,
html .ui-page .centrar_mapa,
.encCustomerComp,
.panelHomeLeft,
.ui-header.ui-bar-a.my-header.header.headerEnc_relative.ui-bar-inherit,
#form_l_visitantes .nw_widget_div_backAdondevamos_show
{
    /*position: absolute;*/
}
body .ui-page .my-header .btnMenuHeader {
    z-index: 100000000;
}

.ui-header.ui-bar-a.my-header.header.headerEnc_relative.ui-bar-inherit:before {
    content: ".";
    position: absolute;
    /*top: -35px;*/
    left: 0;
    width: 100%;
    /*height: 30px;*/
    /*height: 45px;*/
    top: var(--top_barra_iphone_menos);
    height: var(--alto_barra_iphone);
    background-color: var(--color_empresarial);
    font-size: 0px;
}
html .ui-page .ui-navbar .btnForm {
    font-size: 10px;
    font-weight: lighter!important;
}
.contentCenter, .containerCenterHome {
    margin-top: 70px!important;
}
body .containBtnsShareWarn{
    top: 90px;
    z-index: 10;
}


.backInShowServices_show{
    /*top: 35px!important;*/
    top: var(--top_barra_iphone)!important;
}
#form_l_visitantes .nw_widget_div_backAdondevamos_show{
    /*top: 35px!important;*/
    top: var(--top_barra_iphone)!important;
}
body .contenedor_address_show{
    /*top: 35px!important;*/
    top: var(--top_barra_iphone)!important;
}


body .panelHomeLeft{
    /*top: 35px!important;*/
    top: var(--top_barra_iphone)!important;
    max-height: calc(100% - 135px)!important;
}

body .f_chat .headerEnc_relative{
    /*max-height: 35px;*/
    max-height: var(--top_barra_iphone);
    /* overflow: hidden; */
    font-size: 12px;
    z-index: 1000000000000000 !important;
}

body .ui-header.ui-bar-a.my-header.header.headerEnc_relative.ui-bar-inherit{
    top: var(--top_barra_iphone);
    z-index: 2;
}

body .encCustomerComp {
    /*top: var(--top_barra_iphone)!important;*/
}

body .frame_chat_form{
    max-height: calc(100% - var(--top_max_chat));
}

html body .ui-page .contentCenter{
    margin-top: var(--top_max_center)!important;
    max-height: calc(100% - var(--top_max_center)) !important;
}

body .nwmaker_notifications_firebase{
    top: 60px;
}

body .f_crear_viaje .logotipoHeader_home{
    /*top: 9px;*/
}